* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

@import './variables/colores';
@import './sections/header';
@import './sections/main-section';
@import './sections/footer';
body {
    background-color: $azul;

}



