.nosotros {
background-image: url(../../images/nosotros.jpg);
    .parrafo1{
        width: 80%;
        margin: 5%;
        color: black;
        font-size: xx-large;
        font-weight: 900; }
}
.map{
width: 100%;
margin-bottom: 2%;
}
